.wrapper{
    width: 100%;
    height: 80px;

    border-bottom: 1px solid var(--border-color);

    padding: 10px 0px;

    box-sizing: border-box;

    background-color: #BE3144;
}
.wrap-left{
    width: max-content;
    height: 80px;
    box-sizing: border-box;
    border-right: 1px solid black;
    background-color: #872341;

    border-bottom: 1px solid var(--border-color);


    .logo{
        margin: 0 5px;
        height: 100%;
        object-fit: contain;
        padding: 0 10px 0px 0;
        cursor: pointer;
    }
}

::ng-deep .p-tabmenu .p-menuitem-link {
    color: crimson;
}

::ng-deep .p-tabmenu .p-tabmenuitem.p-highlight {
    border-bottom: 4px solid black;
}