<div class="2xl:container wrapper mx-auto max-h-svh mb-10 bg-white rounded-2xl column relative shadow-xl min-h-svh pb-12">
    <div class="p-5 justify-center">
        <h2 class="text-red-800 text-center text-2xl ibm-plex">Sobre nosotros</h2>
        <!-- Contenido de mision - vision-->
        <div class="container text-center row my-8 max-w-2xl max-md:max-w-md mx-auto flex-wrap ">
            <div id="Mision" data-aos="fade-up" class="max-md:w-52 max-md:max-h-72 my-6 mx-auto relative group duration-500 cursor-pointer group overflow-hidden text-gray-50 h-80 w-56 rounded-2xl hover:duration-700">
                <div class="w-56 h-80 bg-red-600 text-gray-800 text-center max-md:w-48 max-md:h-72 max-md:rounded-2xl">
                    <img class="mx-auto my-auto w-10/12 text-center" src="assets/images/webp/color.webp" alt="" data-aos="fade-up" data-aos-duration="1500">
                </div>
                <div class="absolute max-md:rounded-2xl bg-gray-50 max-md:gap-6 -bottom-56 max-md:w-48 max-md:p-2 w-56 p-3 flex flex-col gap-1 group-hover:-bottom-0 group-hover:duration-600 duration-500">
                    <span class="text-red-800 font-bold text-xs">Mision</span>
                    <span class="text-gray-800 font-bold text-3xl max-md:text-xl">Nuestra mision</span>
                    <p class="text-neutral-800 max-md:text-sm">Contribuir en el crecimiento académico, profesional y personal de los estudiantes de la Carrera de Ingeniería de Sistemas Computacionales de nuestro Instituto, para que colaboren en el desarrollo de su comunidad.</p>
                </div>
            </div>
            <div id="vision" data-aos="fade-up" class="my-6 mx-auto relative group duration-500 cursor-pointer group overflow-hidden text-gray-50 h-80 w-56 rounded-2xl hover:duration-700 max-md:w-52 max-md:max-h-72">
                <div class="max-md:rounded-2xl w-56 h-80 bg-red-600 text-gray-800 max-md:w-48 max-md:h-72">
                    <img class="mx-auto my-auto w-10/12 text-center" src="assets/images/webp/color.webp" alt="" data-aos="fade-up" data-aos-duration="1500">
                </div>
                <div class="absolute bg-gray-50 -bottom-56 max-md:w-48 max-md:p-4 max-md:rounded-2xl w-56 p-3 flex flex-col gap-1 group-hover:-bottom-0 group-hover:duration-600 duration-500">
                    <span class="text-red-800 font-bold text-xs">Vision</span>
                    <span class="text-gray-800 font-bold text-3xl max-md:text-xl">Nuestra vision</span>
                    <p class="text-neutral-800 max-md:text-sm">Consolidarse como un espacio institucional en el que se potencia el desarrollo de los alumnos a través de experiencias académicas relacionadas con la ingeniería y sus diferentes especialidades. <br> &nbsp;</p>
                </div>
            </div>
            <!-- Fin contenido mision - vision-->
        </div>
        <h2 class="text-red-800 text-center text-2xl ibm-plex">Integrantes del capitulo</h2>
        <!-- Tarjetas de informacion de los miembros-->
        <div class="row max-w-3xl mx-auto my-4 gap-4 flex-wrap">
            <app-miembros class="mx-auto rounded-xl" name="Mauro Alvarado" rol="Presidente" imageUrl="assets/images/webp/defaultPfp.webp" #aosElement data-aos="fade-up" data-aos-duration="1500"></app-miembros>
            <app-miembros class="mx-auto rounded-xl" name="Jose Mares" rol="Vicepresidente" imageUrl="assets/images/webp/defaultPfp.webp" #aosElement data-aos="fade-up" data-aos-duration="1500"></app-miembros>
            <app-miembros class="mx-auto rounded-xl" name="Leonardo Contreras" rol="Secretario Primero" imageUrl="assets/images/prueba.jpg" #aosElement data-aos="fade-up" data-aos-duration="1500"></app-miembros>
            <app-miembros class="mx-auto rounded-xl" name="Silvia Ramos" rol="Secretaria Segunda" imageUrl="assets/images/webp/defaultPfp.webp" #aosElement data-aos="fade-up" data-aos-duration="1500"></app-miembros>
            <app-miembros class="mx-auto rounded-xl" name="Tania Salomon" rol="Tesorera" imageUrl="assets/images/webp/defaultPfp.webp" #aosElement data-aos="fade-up" data-aos-duration="1500"></app-miembros>
            <app-miembros class="mx-auto rounded-xl" name="Valeria Arango" rol="Comunicación" imageUrl="assets/images/webp/defaultPfp.webp" #aosElement data-aos="fade-up" data-aos-duration="1500"></app-miembros>
            <app-miembros class="mx-auto rounded-xl" name="Max Hinojosa" rol="Vinculación" imageUrl="assets/images/webp/defaultPfp.webp" #aosElement data-aos="fade-up" data-aos-duration="1500"></app-miembros>
            <app-miembros class="mx-auto rounded-xl" name="Dayana Cabello" rol="Coordinadora de Proyectos" imageUrl="assets/images/webp/defaultPfp.webp" #aosElement data-aos="fade-up" data-aos-duration="1500"></app-miembros>
            <app-miembros class="mx-auto rounded-xl" name="Luis David" rol="Coordinador de Eventos" imageUrl="assets/images/webp/defaultPfp.webp" #aosElement data-aos="fade-up" data-aos-duration="1500"></app-miembros>
            <app-miembros class="mx-auto rounded-xl" name="Aracely Campos" rol="Asesora de el capitulo" imageUrl="assets/images/webp/defaultPfp.webp" #aosElement data-aos="fade-up" data-aos-duration="1500"></app-miembros>
            <app-miembros class="mx-auto rounded-xl" name="Javier Mona" rol="Jefe de dpto." imageUrl="assets/images/webp/defaultPfp.webp" #aosElement data-aos="fade-up" data-aos-duration="1500"></app-miembros>

        </div>
    </div>
</div>
