.wrapper{
    height: fit-content;
    padding: 20px;
    width: 100%;

    flex-grow: 1;
    box-sizing: border-box;
    background-color: #BE3144;
}

app-home {
    position: relative;
    z-index: 1000; /* optional: this ensures the home stays above all other content */
}

app-header {
    position: sticky;
    top: 0;
    z-index: 1000; /* optional: this ensures the header stays above all other content */
  }

  app-about {
    position: relative;
    z-index: 1000; /* optional: this ensures the about stays above all other content */
  }

  app-footer {
    margin-top: auto;
  }

  .overlay{
    position: absolute;
    z-index: 1000;
  }
