<!--  -->

<div class="card max-w-2xl mx-auto justify-center">
    <div class="tools">
      <div class="circle">
        <span class="red box"></span>
      </div>
      <div class="circle">
        <span class="yellow box"></span>
      </div>
      <div class="circle">
        <span class="green box"></span>
      </div>
    </div>
    <div class="card__content p-10" data-aos="fade-up" data-aos-duration="2000">
        <div class="wrapper column full-center max-w-3xl mainImageHolder mx-auto rounded-lg">
            <h1 class="text-2xl text-center ibm-plex text-white blink_me">Bienvenido a la pagina oficial del CSC!</h1>
            <img src="assets/images/webp/blanco-sin-fondo.webp" alt="" class="size-96">
            <h2 class="text-3xl text-center text-red-800 ibm-plex font-bold" >2024 - 2025</h2>
        </div>
    </div>
  </div>